<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    {{!-- <script src="./scripts/customers.js"></script> --}}
    <title>38 Cupcakes</title>
</head>
<body>
    <h1>{{title}}</h1>

    <!-- links to pages -->
    <nav>[ 
        <a href="/index">Customers</a> |
        <a href="/workers">Workers</a> |
        <a href="/cupcakes">Cupcakes</a> |
        <a href="/orders">Orders</a> |
        <a href="/cupcakesordered">Cupcakes Ordered</a> ]
    </nav>

    {{{body}}}
    
</body>
</html>